In [1]:
import os
import csv
import pandas as pd
from pathlib import Path

In [2]:
file = Path('C:/Users/hahma/OneDrive/Desktop/PythonData/USCLOS201811DATA3/03_python/homework/Instructions/PyBank/Resources/budget_data.csv')

In [3]:
df_pd = pd.read_csv(file)

In [4]:
print(df_pd)

         Date  Profit/Losses
0    1/1/2010         867884
1    2/1/2010         984655
2    3/1/2010         322013
3    4/1/2010         -69417
4    5/1/2010         310503
5    6/1/2010         522857
6    7/1/2010        1033096
7    8/1/2010         604885
8    9/1/2010        -216386
9   10/1/2010         477532
10  11/1/2010         893810
11  12/1/2010         -80353
12   1/1/2011         779806
13   2/1/2011        -335203
14   3/1/2011         697845
15   4/1/2011         793163
16   5/1/2011         485070
17   6/1/2011         584122
18   7/1/2011          62729
19   8/1/2011         668179
20   9/1/2011         899906
21  10/1/2011         834719
22  11/1/2011         132003
23  12/1/2011         309978
24   1/1/2012        -755566
25   2/1/2012        1170593
26   3/1/2012         252788
27   4/1/2012        1151518
28   5/1/2012         817256
29   6/1/2012         570757
..        ...            ...
56   9/1/2014        1166643
57  10/1/2014         947333
58  11/1/2014         578668
59  12/1/2014         988505
60   1/1/2015        1139715
61   2/1/2015        1029471
62   3/1/2015         687533
63   4/1/2015        -524626
64   5/1/2015         158620
65   6/1/2015          87795
66   7/1/2015         423389
67   8/1/2015         840723
68   9/1/2015         568529
69  10/1/2015         332067
70  11/1/2015         989499
71  12/1/2015         778237
72   1/1/2016         650000
73   2/1/2016       -1100387
74   3/1/2016        -174946
75   4/1/2016         757143
76   5/1/2016         445709
77   6/1/2016         712961
78   7/1/2016       -1163797
79   8/1/2016         569899
80   9/1/2016         768450
81  10/1/2016         102685
82  11/1/2016         795914
83  12/1/2016          60988
84   1/1/2017         138230
85   2/1/2017         671099

[86 rows x 2 columns]

In [5]:
df_pd.count()

Date             86
Profit/Losses    86
dtype: int64

In [7]:
Total_Months = df_pd["Date"].count()

In [8]:
print(Total_Months)

86

In [9]:
PLdiff = []
for i in range(Total_Months):
   PLdiff.append(df_pd["Profit/Losses"].iloc[i] - df_pd["Profit/Losses"].iloc[i-1])

In [10]:
print(PLdiff)

[196785, 116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]

In [11]:
PLdiff.pop(0)

196785

In [12]:
sum(PLdiff)/(Total_Months-1)

-2315.1176470588234

In [112]:
def average(PLdiff):
    total = 0.0
    for amount in PLdiff:
         total += amount
    return total/Total_Months

In [113]:
print(average(PLdiff))

0.0